__pycache__/
*.py[cod]
*$py.class


.app_secret_key_dev
.app_secret_key_prod
.secret_key_generated_do_not_commit # Если используется альтернативное имя

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python virtual environment
venv/
.venv/
env/
.env/
ENV/

# Log files
logs/
*.log

# Alembic temp files
alembic.db

# Docker
docker-compose.override.yml

# Tests
.pytest_cache/
.coverage
htmlcov/
