__pycache__/
*.py[cod]
*$py.class


secret_key.txt

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python virtual environment
venv/
.venv/
env/
.env/
ENV/

# Log files
logs/
*.log

# Alembic temp files
alembic.db

# Docker
docker-compose.override.yml

# Tests
.pytest_cache/
.coverage
htmlcov/
